name: Android App Build

on:
  workflow_call:
    inputs:
      java-version:
        description: "JDK version"
        required: false
        type: string
        default: "17"

      gradle-tasks:
        description: "Gradle tasks to run"
        required: false
        type: string
        default: "assembleDebug assembleRelease lint"
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ inputs.java-version }}
          cache: gradle

      - name: Build / Lint with Gradle
        run: ./gradlew ${{ inputs.gradle-tasks }}

      - name: List APK Output Directory
        run: ls -R app/build/outputs/apk || true
